.tabs {
	// .tabs__navigation
	&__navigation {
		display: flex;
	}
	// .tabs__title
	&__title {
		border: 1px solid #eee;
		padding: rem(10) rem(15);
		border-radius: rem(5);
		&._tab-active {
		border-color: currentColor;
      color: $primaryColor;
		}
	}
	// .tabs__content
	&__content {
      display: flex;
      justify-content: center;
      padding: rem(20) rem(15) rem(0) rem(15);
		border: 1px solid #eee;
	}
	// .tabs__body
	&__body {
      padding-top: 20px;
      img{
         width: 36vw;
      }
	}
}
