.page {
   &__hero-contacts {
      @include adaptiveValue("padding-top",152 , 75);
      @include adaptiveValue("padding-bottom",209 , 20);
      background-repeat: no-repeat;
      background-position: right rem(-9) top;
      background-size: auto auto;
      background-color: $bg-inputColor;
   }

   &__contacts-us {
      @include adaptiveValue("padding-top",121 , 20);
      @include adaptiveValue("padding-bottom",122 , 35);
      background-color: $whiteColor;
   }

   &__our-offices {
      @include adaptiveValue("padding-top",80 , 20);
      @include adaptiveValue("padding-bottom",120 , 30);
      background-color: $bg-inputColor;
   }
}

//==================================================================

.hero-contacts {

   &__title {
   }

   &__descr {
      color: $mainColor;
   }
}

//===========================================================

.contacts-us {

   &__container {
   }

   &__image{
      max-width: rem(495);
      img {
         display: block;
         width: 100%;
         object-fit: cover;
      }
   }

   &__body {
      @include adaptiveValue("column-gap", 35, 20, 0, $containerWidth, 991);
      @include adaptiveValue("row-gap", 30, 20);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      //* media $tablet ------------------------------------------------------------------
      @media (max-width:$tablet){
         grid-template-columns: 1fr;
         justify-items: center;
         .contacts-us__form {
            width: 100%;
         }
         .form-contacts-us__input {
         min-width: 100%
         }
      }
      //*------------------------------------------------------------------
   }

   &__form {
      @include adaptiveValue("column-gap", 30, 12, 0, $containerWidth, 479);
      @include adaptiveValue("row-gap", 25, 18);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
//* media $mobileSmall -----------------------------------------------------------------
      @media (max-width:$mobileSmall){
         grid-template-columns: 1fr;
         column-gap: 0;

         label:nth-child(1) {
            grid-row: 4 / 5;
         }
         label:nth-child(2) {
            grid-row: 1 / 2;
         }
         label:nth-child(3) {
             grid-row: 5 / 6;
         }
         label:nth-child(4) {
            grid-row: 2 / 3;
         }
         label:nth-child(5) {
            grid-row: 6 / 7;
         }
         fieldset {
            grid-row: 3 / 4;
         }

         .form-contacts-us__caption-radio {
            text-align: center;
            font-size: rem(18);
         }
   
         .form-contacts-us__items-radio {
            padding-top: rem(4);
            justify-content: space-between;
            font-size: rem(20);
         }
   
         .form-contacts-us__bottom {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          row-gap: rem(15);
         }

         .form-contacts-us__descr  {
            max-width: 100%;
            margin-top: rem(-15);
         }
      }
      //*------------------------------------------------------------------
   }
}

.form-contacts-us {

   &__caption {
      margin-bottom: rem(11);
   }

   &__input {
      min-width: rem(250);
      margin-bottom: rem(0);
   }

   &__items-radio {
      @include adaptiveValue("padding-top", 6, 16);
      @include adaptiveValue("column-gap", 28, 10);
      white-space: nowrap;
      display: flex;
      align-items: center;
   }

   &__input-radio {
      margin-right: rem(10);
   }

   &__caption-radio {
      line-height: math.div(26 , 16);
      font-weight: 400;
      color: $secondaryColor;
   }

   &__labels-area {
      grid-column: 2 span;
   }

   &__input-area {
      @include adaptiveValue("padding-bottom",72 , 20);
      margin-bottom: 0;
      padding-top: rem(8);
   }

   &__bottom {
      display: grid;
      grid-column: 2 span;
      column-gap: rem(10);
   }

   &__checkbox {
      align-items: center;
      grid-column: 1 / 2;
   }

   &__descr {
      &::before{
         top: rem(5);
      }
      &::after{
         top: rem(5);
      }
      max-width: rem(314);
      margin: 0;
      font-size: rem(16);
      line-height: math.div(26 , 16);
      font-weight: 400;
      color: $secondaryColor;

   }

   &__btn {
      white-space: nowrap;
      align-self: end;
      justify-self: end;
      grid-column: 2 / 3;
   }
}

//===============================================================

.our-offices {

   &__container {
   }

   &__title-bottom {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 40, 15);
      }
   }
}

.list-offices {
   @include adaptiveValue("padding-bottom", 120, 20);
   @include adaptiveValue("row-gap", 30, 20);
   @include adaptiveValue("column-gap", 240, 30, 0, $containerWidth, 991);
   display: grid;
   grid-template-columns: repeat(3, 1fr);

   @media (max-width:$tablet){
      grid-template-columns: 1fr;
      .list-offices__subtitle {
         font-size: rem(22);
      }
      
      .list-offices__items {
         display: grid;
         justify-items: center;
         font-size: rem(18);
         &::after{
            display: none;
         }
      }
  }

   &__items {
      position: relative;
      line-height: math.div(26 , 16);
      font-weight: 400;
      color: $darkColor;

      &:not(:last-child) {
         &::after{
            content:'';
            @include adaptiveValue("right", -120, 0, 0, $containerWidth, 991);
            position: absolute;
            top: 0;
            width: rem(1);
            height: 100%;
            background: linear-gradient(315deg, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #dadbdd 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);
         }
      }
   }

   &__subtitle {
      margin-bottom: rem(10);
   }

   &__address {
      font-style: normal;
      margin-bottom: rem(6);
   }

   &__link {
      text-decoration-line: underline;
      color: $primaryColor;
   }

   &__bottom {
      padding-top: rem(20);
   }

   &__contacts {
      small {
         color: $mainColor;
         font-size: rem(16);
      }
      &:not(:last-child) {
         margin-bottom: rem(4);
      }
   }
}

.list-social {
   @include adaptiveValue("column-gap", 24, 22);
   display: flex;
   justify-content: center;

   &__link {
      svg {
         @include adaptiveValue("width", 32, 40);
         @include adaptiveValue("height", 32, 40);
         transition: fill 0.3s ease-in, transform 0.3s ease-in;
         @media (any-hover: hover){
            &:hover{
               fill: $primaryColor;
               transform: scale(1.4);
            }
         }
      }
   }
}

