.footer {
@include adaptiveValue("padding-top",80 , 30);
@include adaptiveValue("padding-bottom",78 , 20);
background-color: $darkColor;
color: rgba(255, 255, 255, 0.6);

   &__container {
      @include adaptiveValue("row-gap",37 , 20);
      display: grid;
      grid-template: auto / repeat(5, 1fr);
      grid-template-areas: 
      "a a .. b b"
      "c c d d .."
      "e e ..  .. .."
      ;
      //*max-width:$tablet ---------------------------------------------------------------------
      @media (max-width:$tablet){
         grid-template-areas: 
         "a a a a a "
         "b b b b b "
         "d d d d d"
         "c c c c c"
         "e e .. .. .."
         ;
         .top-left {
            &__list {
               @include adaptiveValue("column-gap", 150, 22);
               margin-top: rem(-8);
            }
            .social__link {
               svg {
                  width: rem(40);
                  height: rem(40);
                  fill: $whiteColor;
               }
            }

         &__descr {
            font-size: rem(16);
         }   
      }

         .top-right{
            &__items {
               flex-direction: row-reverse;
            }
            &__input {
               border-radius: rem(0) rem(4) rem(4) rem(0);
            }
            &__btn {
               border-radius: rem(4) rem(0) rem(0) rem(4);
            }
            &__subscribe {
               font-size: rem(16);
            }
         }

         .address__item {
            font-size: rem(20)
         }
         .nav-footer {
            margin-left: rem(0);

            &__item {
               white-space: nowrap;
               font-size: rem(20);
            }
         }
      }

//*max-width:$mobileSmall ------------------------------------------------------------------------
      @media (max-width:$mobileSmall){
         grid-template-areas: 
         "a a a a a "
         "b b b b b "
         "d d d d d"
         "c c c c c"
         "e e e e e"
         ;

         .top-right__input {
            border-radius: rem(0) rem(25) rem(25) rem(0);
         }

         .top-right__btn {
            border-radius: rem(25) rem(0) rem(0) rem(25);
            padding: rem(3) rem(12);
            font-size: rem(12);
         }

         .nav-footer {
            display: grid;
            row-gap: rem(25);
         }

         .copyright {
            margin-top: rem(50);
         }
      }
      //*----------------------------------------------------------------------
   }

   &__top-left {
      grid-area: a;
   }

   &__form {
      grid-area: b;
   }

    &__address {
      grid-area: c;
   }

    &__nav {
      grid-area: d;
   }

   &__copyright {
      grid-area: e;
   }
}

.top-left {
   &__logo {
      &:not(:last-child) {
         @include adaptiveValue("margin-right", 56, 40);
      }
      &:focus {
         outline: rem(2) solid $primaryColor;
         outline-offset: rem(2);
         border-radius: rem(2);
      }
   }

   &__descr {
      font-size: rem(14);
      font-weight: 400;
      line-height: math.div(21 , 14);
      }
}

.social {
   display: inline-flex;
   column-gap: rem(16);
   &:not(:last-child) {
      @include adaptiveValue("margin-bottom",24 , 15);
   }

   @media (max-width:$mobile){
      padding-top: rem(30);
      display: flex;
      justify-content: space-between;
     }

     &__link {
      svg {
         width: rem(24);
         height: rem(24);
         fill: $whiteColor;
         transition: all 0.3s ease-in;

         @media (any-hover: hover){
            &:hover{
               transform: scale(1.4);
            }
            &:active {
               fill: $color-active;
            }
         }
      }
      &:focus {
         outline: rem(2) solid $primaryColor;
         outline-offset: rem(2);
         border-radius: rem(2);
      }
   }
}

.top-right{
position: relative;
   &__title {
      font-size: rem(24);
      line-height: math.div(36 , 24);
      font-weight: 700;
      color: $whiteColor;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom",23 , 10);
      }
   }

   &__items {
      display: flex;
      align-items: start;
   }

   &__input {
      width: 100%;
      padding: rem(10) rem(16) rem(14) rem(16);
      border: 1px solid rgba(255, 255, 255, 0.20);
      border-radius: rem(4) rem(0) rem(0) rem(4);
      background: rgba(255, 255, 255, 0.12);
      color: $whiteColor;
      &:not(:last-child) {
         margin-bottom: rem(14);
      }
      transition: background-color 0.3s ease-in-out;

      &::placeholder{
         @include adaptiveValue("font-size",14 , 12);
         line-height: math.div(21 , 14);
         font-weight: 400;
         transition: color 0.3s ease-in-out;
      }

      @media (any-hover: hover){
         &:focus {
            outline: rem(2) solid $primaryColor;
            outline-offset: rem(2);
         }
         &:hover{
            background-color: $grayColor;
            &::placeholder {
               color: $darkColor;
         }
      }
         &:active {
            background-color: $color-active;
         }
      }
   }

   .form__error {
      position: absolute;
      top: 15%;
      left: 80%;
      font-size: rem(14);
      color: red;
   }

   &__btn {
      @include button(rem(180), rem(44), rem(14), 314%);
      border-radius: rem(0) rem(4) rem(4) rem(0);

      @media (max-width:$mobile){
         width: rem(150);
         height: rem(44); 
      }
   }

   &__subscribe {
      font-size: rem(12);
      line-height: math.div(18 , 12);
      font-weight: 400;
   }
      padding-bottom: rem(14);
      @media (max-width:$tablet){
         &:not(:last-child) {
            padding-bottom: 0;
         }
      }
   }

.address {
      font-style: normal;

      @media (min-width:$tablet){
         padding-right: rem(60);
      }
      
   &__title {
      line-height: math.div(24 , 16);
      font-weight: 700;
      letter-spacing: rem(1);
      text-transform: uppercase;
      color: $whiteColor;
      @include adaptiveValue("margin-bottom", 13, 5);
      }

   &__item {
      line-height: math.div(28 , 16);
      font-weight: 400;
      span {
         color: $whiteColor;
      }
   &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 2, 12);
         }
         a {
            transition: color 0.3s ease-in-out;
            @media (any-hover: hover){
               &:focus {
                  outline: rem(2) solid $primaryColor;
                  outline-offset: rem(2);
                  border-radius: rem(2);
               }
               &:hover{
                  color: $primaryColor;
               }
               &:active {
                  color: $color-active;
               }
            }
         }
      }
   }

.nav-footer {
      display: flex;
      @include adaptiveValue("column-gap",125 , 145);
      margin-left: rem(-18);

      &__column {
      }

      &__title {
      line-height: math.div(24 , 16);
      font-weight: 700;
      letter-spacing: rem(1);
      text-transform: uppercase;
      color: $whiteColor;
      @include adaptiveValue("margin-bottom", 13, 5);
      }

      &__list {
         display: inline-block;
      }

      &__item {
         &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 2, 12);
         }
      }

      &__link {
         line-height: math.div(28 , 16);
         font-weight: 400;
         color: rgba(255, 255, 255, 0.6);
         transition: color 0.3s ease-in-out;

         @media (any-hover: hover){
            &:focus {
               outline: rem(2) solid $primaryColor;
               outline-offset: rem(2);
               border-radius: rem(2);
            }
            &:hover{
               color: $primaryColor;
            }
            &:active {
               color: $color-active;
            }
         }
      }
   }

.copyright {
      padding-top: rem(20);
      display: inline-flex;
      white-space: nowrap;
      column-gap: rem(4);
      font-size: rem(12);
      line-height: math.div(18 , 12);
      font-weight: 400;
      color: $whiteColor;

      &__icon {
         flex-wrap: nowrap;
         font-size: rem(16);
         color: $primaryColor;
      }
   }