.page {
   &__hero-inner-services {
      @include adaptiveValue("padding-top",153 , 75);
      @include adaptiveValue("padding-bottom",115 , 20);
      background-position: top right -8px;
      background-repeat: no-repeat;
      background-color: $bg-inputColor;
   }

   &__offer {
      @include adaptiveValue("padding-top",120 , 30);
      @include adaptiveValue("padding-bottom",180 , 30);
      background-color: $whiteColor;
   }

   &__how-we-do {
      @include adaptiveValue("padding-bottom",120 , 20);
      background-color: $whiteColor;
   }

   &__benefits {
      @include adaptiveValue("padding-top",80 , 30);
      @include adaptiveValue("padding-bottom",45 , 30);
      background-color: $darkColor;
   }

   &__related-projects {
      @include adaptiveValue("padding-top",180 , 70);
      @include adaptiveValue("padding-bottom",98 , 20);
      background-color: $whiteColor;
   }

   &__pricing {
      background-color: $bg-inputColor;
      @include adaptiveValue("padding-top",80 , 30);
      @include adaptiveValue("padding-bottom",122 , 20);

      position: relative;
      &::before{
         content:'';
         position: absolute;
         top: rem(-222);
         left: rem(-8);
         width: 100%;
         height: 100%;
         background: url('@img/main/pricing/bg-image.png') left no-repeat;
      }
   }
}
//================================================================

.offer {

   &__container {
      @include adaptiveValue("column-gap",149 , 20);
      display: grid;
      grid-template-columns: repeat(2, auto);
      row-gap: rem(15);
      @media (max-width:$mobile){
          grid-template-columns: 1fr; 
          justify-items: start;
          .offer__title {
            margin: 0;
          }
          .spollers__item {
            max-width: 100%; 
          }
          .spollers__title {
            padding-left: rem(60);
            &::before,
            &::after{
            left: 0;
         }
          }
          .spollers__descr {
            padding-left: rem(60);
          }
      }
          @media (max-width:$mobileSmall){
            justify-items: end;
            .spollers__title {
            padding-right: rem(120);
            padding-left: rem(2);
               &::before,
               &::after{
               left: 91%;
            }
         }
         .spollers__descr {
            padding-left: rem(0);
          }
      }
   }

   &__image {
      max-width: rem(705);
      max-height: rem(440);
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__items {
   }

   &__title {
      @include adaptiveValue("margin-bottom", 57, 15);
      font-family: Lato;
      font-weight: 900;
      font-size: rem(46);
      line-height: math.div(60 , 46);
      color: $darkColor;
      margin-top: rem(3);
      margin-left: rem(-42);
   }
}

.spollers {

   &__item {
      max-width: rem(376);
   }

   &__title {
      position: relative;
      cursor: pointer;
      &:not(:last-child) {
         margin-bottom: rem(12);
      }
      &::before,
      &::after{
         content:'';
         position: absolute;
         top: rem(21);
         left: rem(-43);
         width: rem(24);
         height: rem(2);
         border-radius: rem(2);
         background-color: $primaryColor;
      }
      &::after{
         transform: rotate(90deg);
   }

   &._spoller-active {
      &::after{
         opacity: 0;
         }
      }
   }

   &__descr {
      line-height: math.div(26 , 16);
      font-weight: 400;
      margin-bottom: rem(24);

   }
}
//==============================================================

.how-we-do {

   &__container {
   }

   &__title {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 60, 10);
      }
   }

   &__list {
      @include adaptiveValue("column-gap", 30, 15);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: rem(10);
      counter-reset: section;
      @media (max-width:$mobile){
         grid-template-columns: repeat(2, 1fr);
      }
   }

   &__item {
      position: relative;
      &::before{
         counter-increment: section;
         content: "0"counter(section);
         font-size: rem(46);
         line-height: math.div(60 , 46);
         font-weight: 700;
         color: $border-inputColor;
      }
      &:not(:last-child) {
         &::after{
            content:'';
            position: absolute;
            top: rem(30);
            left: rem(37);
            width: 100%;
            height: rem(1);
            background: url('@img/main/how-we-do/line.svg') 50% no-repeat;
         @media (max-width:$mobileSmall){
             background: none; 
         }
         }
      }
   }

   &__subtitle {
      @include adaptiveValue("padding-top", 16, 8);
      &:not(:last-child) {
         margin-bottom: rem(8);
      }
   }

   &__descr {
      line-height: math.div(26 , 16);
      font-weight: 400;
   }
}
//================================================================

.benefits {

   &__container {
   }

   &__title {
      color: $whiteColor;
   }

   &__text {
      color: rgba(255, 255, 255, 0.6);
   }

   &__icons-box {
   }

   &__subtitle {
      color: $whiteColor;
   }

   &__btn {
      display: flex;
      justify-content: center;
   }

   &__button {
      white-space: nowrap;
      padding: rem(0) rem(112);
      transform: translateY(rem(74));
      @media (max-width:$mobile){
          padding: rem(0) rem(15); 
          transform: translateY(rem(12));
      }
   }
}
//============================================================

.pricing {

   &__container {
   }

   &__title {
   }

   &__descr {
      @include adaptiveValue("margin-bottom", 60, 15);
      text-align: center;
   }

   &__table {
   }

   &__logo {
      @include adaptiveValue("padding-top",120 , 60);
   }
}
.table { 
      position: relative;
      z-index: 9;
      width: 100%;
      border-radius: rem(4);
      border-collapse: collapse;
      border: 1px solid $border-color;
      background-color: $whiteColor;
      box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);

      &__header {
   }

   &__row {
   }

   &__th {
      @include adaptiveValue("padding-top", 30, 10);
      padding-bottom: rem(0);
      &:first-child {
         font-size: rem(18);
         line-height: math.div(27 , 18);
         font-weight: 700;
         color: $darkColor;
         padding: rem(0) rem(24);
         padding-bottom: rem(24);
         text-align: left;
         vertical-align: bottom;
      }
   }

   &__heading {
      @include adaptiveValue("font-size", 24, 16);
      text-transform: uppercase;
      line-height: math.div(36 , 24);
      font-weight: 700;
      color: $darkColor;
      margin-bottom: rem(2);
   }

   &__per {
      @include adaptiveValue("margin-bottom", 24, 10);
      @include adaptiveValue("font-size", 18, 15);
      line-height: math.div(27 , 18);
      font-weight: 700;
   }

   &__body {
      .table__row {
         &:nth-child(odd) {
            background-color: $bg-inputColor;
         }
      }
      
     //@media (max-width:em(670)){
     //}
   }

   &__col {
      @include adaptiveValue("padding-right", 24, 5);
      @include adaptiveValue("padding-left", 24, 5);
      padding: rem(16) rem(0);
      line-height: math.div(26 , 16);
      font-weight: 400;
      text-align: center;
      color: $secondaryColor;
      &:first-child {
         @include adaptiveValue("margin-right", 66, 0, 0, $containerWidth, 700);
         display: block;
         text-align: left;
      }
   }

   &__check {
      display: inline-block;
      font-size: rem(0);
      margin-bottom: rem(2);
      &::before{
         @extend %ic;
         @extend .--icon-check;
         font-size: rem(16);
         color: $primaryColor;
      }
   }

   &__text {
   }

   &__btn {
      display: inline-block;
      white-space: nowrap;
      margin-top: rem(16);
      margin-bottom: rem(14);
      font-size: rem(12);
      line-height: math.div(36 , 12);
      padding: rem(0) rem(24);
   }
}





