.page {
   &__hero-inner-news {
      @include adaptiveValue("padding-top",152 , 20);
      @include adaptiveValue("padding-bottom",159 , 20);
      background-color: $bg-inputColor;
   }

   &__post {
      @include adaptiveValue("padding-bottom",192 , 40);
      background-color: $whiteColor;
   }

}

//==============================================================

.hero-inner-news {

   &__container {
   }

   &__list {
   }

   &__title {
      @include adaptiveValue("font-size",64 , 32);
      line-height: math.div(77 , 64);
      font-weight: 700;
      letter-spacing: rem(1);
      color: $darkColor;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom",48 , 20);
      }
   }

   &__bottom {
      @include adaptiveValue("padding-bottom",35 , 105);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap-reverse;
      row-gap: rem(15);
   }

   &__meta-row-big {
      display: flex;
      flex-wrap: wrap;
      row-gap: rem(8);
      align-items: center;
      line-height: math.div(26 , 16);
      font-weight: 700;
   }

   &__social {
      display: flex;
      column-gap: rem(12);
   }

   &__icon {
   }
}

.meta-row-big {

   &__news {
      position: relative;
      padding-right: rem(14);
      margin-right: rem(10);

      &::before{
         content:'';
         position: absolute;
         top: 50%;
         right: rem(0);
         width: rem(1);
         height: rem(16);
         transform: translate(0, -50%);
         background-color: $mainColor;
      }

      &--active {
         color: $primaryColor;
      }
   }

   &__date {
      position: relative;
      padding-right: rem(12);
      padding-left: rem(24);
      margin-right: rem(10);

      &::before{
         content:'';
         position: absolute;
         top: 50%;
         left: rem(0);
         width: rem(20);
         height: rem(20);
         transform: translate(0, -50%);
         background: url('@img/icons/Clock.svg') left top no-repeat;
      }

      &::after{
         content:'';
         position: absolute;
         top: 50%;
         right: rem(0);
         width: rem(1);
         height: rem(16);
         transform: translate(0, -50%);
         background-color: $mainColor;
      }
   }

   &__comments {
      white-space: nowrap;
      position: relative;
      padding-left: rem(24);
      padding-right: rem(25);
      &::before{
         content:'';
         position: absolute;
         top: 50%;
         left: rem(0);
         width: rem(20);
         height: rem(20);
         transform: translate(0, -50%);
         background: url('@img/icons/Chat.svg') left top no-repeat;
      }
   }
}

.social {
   &__link {
   }

   &__icon {
      font-size: rem(24);
   }
}

//==============================================================

.post {

   &__container {
   }

   &__article-post {
   }

   &__comments {
      @include adaptiveValue("padding-top",80 , 30);
      @include adaptiveValue("padding-bottom",120 , 30);
   }

   &__form {
   }
}

.article-post {

   &__image {
      display: inline-block;
      margin-top: rem(-114);
      width: 100%;
      object-fit: cover;
   }

   &__content-post {
      @include adaptiveValue("padding-top",80 , 20);
      @include adaptiveValue("padding-bottom",58 , 20);
  
   h3 {
      font-size: rem(20);
      line-height: math.div(30 , 20);
      font-weight: 700;
      color: $darkColor;
      &:not(:last-child) {
         margin-bottom: rem(24);
      }
   }

   p {
      line-height: math.div(26 , 16);
      font-weight: 400;
      color: $secondaryColor;
      &:not(:last-child) {
         margin-bottom: rem(26);
      }
   }

   blockquote {
      @include adaptiveValue("padding-top",22 , 5);
      position: relative;
      padding-left: rem(58);
      font-size: rem(20);
      line-height: math.div(30 , 20);
      font-weight: 700;
      color: $darkColor;

      &::before{
         content:'';
         position: absolute;
         width: 100%;
         height: 100%;
         transform: translate(rem(-58), 0);
         background: url('@img/main/ceo/braces.svg') left top / 28px 20px no-repeat;
      }
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom",48 , 30);
      }
   }

   ul {
      &:not(:last-child) {
      margin-bottom: rem(24);
   }
      li {
      position: relative;
      padding-left: rem(32);
      line-height: math.div(26 , 16);
      font-weight: 400;
      color: $secondaryColor;

      &::before{
         content:'';
         position: absolute;
         top: rem(6);
         left: 0;
         width: 100%;
         height: 100%;
         background: url('@img/icons/check2.svg') left top no-repeat;
      }
      &:not(:last-child) {
         margin-bottom: rem(4);
            }
         }
      }
   }
		&__share {
         display: flex;
         column-gap: rem(12);
         line-height: math.div(26 , 16);
         font-weight: 700;
         color: $darkColor;
		}

		&__social-post {
         display: flex;
         column-gap: rem(12);
		}

.social-post {

		&__link {
		}

		&__icon {
         font-size: rem(24);
         color: $mainColor;
		}
   }
}

//------------------------------------------------------------------

.comments {

   &__title {
      text-align: center;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom",60 , 20);
      }
   }

   &__article-comment {
      display: grid;
      grid-template-columns: repeat(2, auto);
      column-gap: rem(30);
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom",60 , 25);
      }
      @media (max-width:$mobile){
          grid-template-columns: 1fr;
      }
   }
}

.article-comment {

   &__left {
      max-width: rem(150);
      &:not(:last-child) {
         margin-bottom: rem(15);
      }
   }

   &__author {
      display: inline-block;
      font-size: rem(18);
      line-height: math.div(27 , 18);
      font-weight: 700;
      color: $darkColor;
      margin-bottom: rem(8);
   }

   &__time {
      display: inline-block;
      font-size: rem(14);
      line-height: math.div(21 , 14);
      font-weight: 400;
   }

   &__right {
      max-width: rem(630);
   }

   &__deskr {
      &:not(:last-child) {
         margin-bottom: rem(16);
      }
   }

   &__link {
      font-weight: 700;
      color: $primaryColor;
   }

   &__reply {
      font-size: rem(14);
      line-height: math.div(21 , 14);
      font-weight: 400;

      &::before{
         @extend %ic;
         @extend .--icon-share-arrow;
         margin-right: rem(8);
         font-size: rem(16);
      }
   }
}

//---------------------------------------------------------

.form-post {
   display: grid;

   &__title {
      text-align: center;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom",54 , 20);
      }
   }

   &__inputs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: rem(30);
      @media (max-width:$mobile){
          grid-template-columns: 1fr;
      }
   }

   &__labels {

   }

   &__caption {
      display: inline-block;
      margin-bottom: rem(14);
   }

   &__input {
      @include adaptiveValue("margin-bottom",28 , 15);
      width: 100%;
      display: block;
      padding: rem(14) rem(16);
      border-radius: rem(4);
      border: 1px solid $border-inputColor;
      background-color: $bg-inputColor;
      &::placeholder{
         line-height: math.div(26 , 16);
         font-weight: 400;
         color: $grayColor;
      }
      &--big {
         @include adaptiveValue("padding-bottom",50 , 20);
         @include adaptiveValue("margin-bottom",45 , 20);
      }
   }

   &__btn {
      max-width: rem(215);
      justify-self: center;
   }
}

