.page {
   &__hero-news {
      @include adaptiveValue("padding-top",152 , 75);
      @include adaptiveValue("padding-bottom",240 , 20);
      background-repeat: no-repeat;
      background-position: right rem(-9) top;
      background-size: auto auto, cover;
      background-color: $bg-inputColor;
   }

   &__categories {
      @include adaptiveValue("padding-top",120 , 20);
      @include adaptiveValue("padding-bottom",180 , 20);
      background-color: $whiteColor;
   }

}

//!=============================================================

.categories {

   &__title {
      text-align: center;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom",39 , 25);
      }
   }

   &__nav-list {
      @include adaptiveValue("padding-bottom",58 , 20);
      @include adaptiveValue("gap", 0, 15);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }

   &__article-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include adaptiveValue("column-gap",30 , 15);
      @include adaptiveValue("row-gap",56 , 25);
      @include adaptiveValue("padding-bottom",60 , 20);

      @media (max-width:$tablet){
         grid-template-columns: 1fr;
      }
   }

.article-categories {

      &__image-ibg {
         padding-bottom: percent(306, 600);
      }
   
      &__content {
         padding: rem(24) rem(24);
         
         @media (max-width:$tablet){
            padding: rem(10) rem(5);
         }
      }
   
      &__subtitle {
         &:not(:last-child) {
            margin-bottom: rem(12);
         }
      }

      &__link {
         transition: color 0.3s ease-in-out;
         @media (any-hover: hover){
            &:focus {
               outline: rem(2) solid $primaryColor;
               outline-offset: rem(2);
               border-radius: rem(2);
            }
            &:hover{
               color: $primaryColor;
            }
            &:active {
               color: $color-active;
            }
         }
      }
   }

   &__pag-list {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: rem(21);

   }
}

.nav-list {
   
   &__btn {
      @include button(rem(205), rem(46), $bg-color:transparent, $color-btn:$grayColor);
      border-color: transparent;
      text-transform: capitalize;

      &--active {
         border-color: currentColor;
         color: $primaryColor;
      }

      @media (any-hover: hover){
         &:hover{
            background-color: transparent;
            color: $primaryColor;
         }
      }
   }
}

.pag-list {

   &__link {
      line-height: math.div(26 , 16);
      font-weight: 700;
      color: $darkColor;
      transition: color 0.3s ease-in-out;

      &--active {
         color: $primaryColor;
      }

      @media (any-hover: hover){
         &:focus {
            outline: rem(2) solid $primaryColor;
            outline-offset: rem(2);
            border-radius: rem(2);
         }
         &:hover{
            color: $primaryColor;
         }
         &:active {
            color: $color-active;
         }
      }
   }

   &__arrow {
      font-size: rem(24);
   }
}

