.page {
   &__hero-services {
      @include adaptiveValue("padding-top",153 , 75);
      @include adaptiveValue("padding-bottom",179 , 20);
      background-position: top right -8px;
      background-repeat: no-repeat;
      background-color: $bg-inputColor;
   }

   &__services-content {
      @include adaptiveValue("padding-top",120 , 30);
      @include adaptiveValue("padding-bottom",180 , 5);
      background-color: $whiteColor;
      position: relative;

      &::before{
         content:'';
         position: absolute;
         top: rem(-136);
         right: rem(-8);
         width: 100%;
         height: 100%;
         background: url('@img/main/services/bg-image-1.png') right no-repeat;
      }
      &::after{
         content:'';
         position: absolute;
         left: rem(-8);
         bottom: rem(-246);
         width: 100%;
         height: 100%;
         background: url('@img/main/services/bg-image-2.png') bottom left no-repeat;
      }
   }
}
//==============================================================

.services-content {

   &__container {
      @include adaptiveValue("column-gap", 80, 15);
      @include adaptiveValue("row-gap", 120, 10);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;

      //*max-width:$mobile---------------------------------------------------------------------------------
      @media (max-width:$mobile){
         grid-template-columns: 1fr;
         div:nth-child(4) {
            grid-row: 4 / 5;
         }
         div:nth-child(9) {
            grid-row: 7 / 8;
         }
         .services-content__items {
            justify-self: center;
            text-align: center;
         }
         .services-content__descr {
            text-align: start;
         }
         .services-content__btn {
            display: inline-flex;
         }
      }
//*----------------------------------------------------------------------------------------------------
   }

   &__image-ibg {
      padding-bottom: percent(420, 575);
   }

   &__items {

      @media (max-width:$mobileSmall){
         &:not(:last-child) {
           padding-bottom: rem(20);
         } 
      }
   }

   &__title {
      font-size: rem(32);
      line-height: math.div(48 , 32);
      font-weight: 700;
      color: $darkColor;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 24, 5);
      }
   }

   &__descr {
      max-width: rem(575);
      line-height: math.div(26 , 16);
      font-weight: 400;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 46, 15);
      }
   }

   &__btn {
      @include button(rem(160), rem(44), rem(14), 314%, transparent, $primaryColor);
      position: relative;
      z-index: 2;
   }
}

