.page {
   &__hero-work {
      @include adaptiveValue("padding-top",153 , 70);
      @include adaptiveValue("padding-bottom",180 , 70);
      background-position: top right rem(-8);
      background-repeat: no-repeat;
      background-color: $bg-inputColor;
      @media (max-width:em(1140)){
         background-color: rgba(229, 229, 230);
      }
   }

   &__portfolio {
      @include adaptiveValue("padding-bottom",100 , 20);
      background-color: $whiteColor;
   }

   &__partners-two {
      @include adaptiveValue("padding-top",80 , 20);
      background-color: $bg-inputColor;
   }

   &__our-clients {
      @include adaptiveValue("padding-top",180 , 20);
      @include adaptiveValue("padding-bottom",124 , 20);
   }
}


.hero-work{

   &__title {
      padding-top: rem(12);
      &:not(:last-child) {
         margin-bottom: rem(11);
      }
      @media (max-width:em(1140)){
         color: $whiteColor;
      }
   }

   &__descr {
      @media (max-width:em(1140)){
         font-weight: 700;
         color: $whiteColor;
      }
   }
}

//=================================================

.portfolio {

   &__load {
      text-align: center;
   }

   &__btn{
      line-height: math.div(26 , 16);
      font-weight: 700;
      color: $secondaryColor;
      &::before{
         @extend %ic;
         @extend .--icon-Convert;
         font-size: rem(24);
         margin-right: rem(16);
         vertical-align: top;
      }
   }
}

.row-icons {
   @include adaptiveValue("column-gap", 20, 15);
   position: relative;
   top: rem(-60);
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   row-gap: rem(15);

   @media (max-width:$mobileSmall){
      top: rem(-40);
   }

&__items-btn {
   width: 100%;
   max-width: rem(230);
   display: grid;
   justify-items: center;
   align-items: center;
   padding: rem(32) rem(10);
   background-color: $whiteColor;
   border-radius: rem(4);
   border: 1px solid $border-color;
   box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
   color: $primaryColor;
   transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;

&--active {
   color: $whiteColor;
   background-color: $primaryColor;
   pointer-events: none;

   .row-icons__subtitle {
      color: $whiteColor;
      }
   }

   @media (any-hover: hover){
      &:focus {
         outline: rem(2) solid $primaryColor;
         outline-offset: rem(2);
         border-radius: rem(2);
      }
      &:hover{
         background-color: $grayColor;
         color: $whiteColor;
         .row-icons__subtitle {
            color: $whiteColor;
         }
      }
      &:active {
         background-color: $color-active;
      }
   }
}

&__icon {
   position: relative;
   z-index: 10;
   width: rem(48);
   height: rem(48);
   object-fit: cover;
   fill: currentColor;
   color: inherit;
   pointer-events: none;
   &:not(:last-child) {
      margin-bottom: rem(16);
   }
}

&__subtitle {
   position: relative;
   z-index: 10;
   color: $grayColor;
   font-size: rem(16);
   line-height: math.div(26 , 16);
   font-weight: 700;
   pointer-events: none;
   transition: color 0.4s ease-in-out;
   }
}

.columns-image {
   @include adaptiveValue("padding-top",58 , 5);
   @include adaptiveValue("padding-bottom",60 , 20);
   @include adaptiveValue("gap", 30, 15);
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));

   &__link-items {
      overflow: hidden;
      border-radius: 4px;
      background-color: $whiteColor;
      box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 30px 24px -20px rgba(154, 156, 165, 0.10), 0px 80px 80px -50px rgba(154, 156, 165, 0.16);
   }

   &__image-ibg {
      padding-bottom: percent(345, 390);
      &:not(:last-child) {
         margin-bottom: rem(16);
      }
   }


   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: rem(24);
   }

   &__title {
      margin-bottom: rem(4);
   }

   &__descr {
      font-size: rem(14);
      line-height: math.div(21 , 14);
      font-weight: 400;
   }

   &__btn {
      display: none;
      margin-top: rem(24);
   }
}



