.page {
   &__hero-work {
      @include adaptiveValue("padding-top",153 , 70);
      @include adaptiveValue("padding-bottom",180 , 70);
      background-position: top right rem(-8);
      background-repeat: no-repeat;
      background-color: $bg-inputColor;
      @media (max-width:em(1140)){
         background-color: rgba(229, 229, 230);
      }
   }

   &__portfolio {
      @include adaptiveValue("padding-bottom",100 , 20);
      background-color: $whiteColor;
      .active {
         color: $whiteColor;
         background-color: $primaryColor;
         //pointer-events: none;
      
         .row-icons__subtitle {
            color: $whiteColor;
            }
         }
   }

   &__partners-two {
      @include adaptiveValue("padding-top",80 , 20);
      background-color: $bg-inputColor;
   }

   &__our-clients {
      @include adaptiveValue("padding-top",180 , 20);
      @include adaptiveValue("padding-bottom",124 , 20);
   }
}


.hero-work{

   &__title {
      padding-top: rem(12);
      &:not(:last-child) {
         margin-bottom: rem(11);
      }
      @media (max-width:em(1140)){
         color: $whiteColor;
      }
   }

   &__descr {
      @media (max-width:em(1140)){
         font-weight: 700;
         color: $whiteColor;
      }
   }
}

//!======================================================================

.portfolio {

   &__load {
      text-align: center;
   }

   &__btn {
      line-height: math.div(26 , 16);
      font-weight: 700;
      color: $secondaryColor;
      transition: color 0.4s ease;
      
      &::before{
         @extend %ic;
         @extend .--icon-Convert;
         font-size: rem(24);
         margin-right: rem(16);
         vertical-align: top;
      }
      @media (any-hover: hover){
         &:focus {
            outline: rem(2) solid $primaryColor;
            outline-offset: rem(2);
            border-radius: rem(2);
         }
         &:hover{
            color: $primaryColor;
         }
         &:active {
            color: $color-active;
         }
      }
   }
}

.row-icons {
   @include adaptiveValue("top", -60, -40);
   @include adaptiveValue("column-gap", 20, 15);
   position: relative;
   display: flex;
   justify-content: center;
   row-gap: rem(15);

   @media (max-width:$mobile){
      flex-wrap: wrap;
   }

&__items-btn {
   @include adaptiveValue("width", 230, 190, 0, $containerWidth, 767);
   @include adaptiveValue("padding-top", 32, 16, 0, $containerWidth, 767);
   @include adaptiveValue("padding-bottom", 32, 16, 0, $containerWidth, 767);
   padding-right: rem(10);
   padding-left: rem(10);
   display: grid;
   justify-items: center;
   align-items: center;
   background-color: $whiteColor;
   border-radius: rem(4);
   border: 1px solid $border-color;
   box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
   color: $primaryColor;
   transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

   @media (any-hover: hover){
      &:focus {
         outline: rem(2) solid $primaryColor;
         outline-offset: rem(2);
         border-radius: rem(2);
      }

      &:hover{
         box-shadow: 3px 3px 21px -8px rgba(0,0,0,0.65);
      }

      &:active {
         background-color: $color-active;
      }
   }
   &--active {
      color: $whiteColor;
      background-color: $primaryColor;
      //pointer-events: none;
   
      .row-icons__subtitle {
         color: $whiteColor;
         }
      }
}

&__icon {
   position: relative;
   z-index: 10;
   width: rem(48);
   height: rem(48);
   object-fit: cover;
   fill: currentColor;
   color: inherit;
   pointer-events: none;
   &:not(:last-child) {
      margin-bottom: rem(16);
   }
}

&__subtitle {
   position: relative;
   z-index: 10;
   color: $grayColor;
   font-size: rem(16);
   line-height: math.div(26 , 16);
   font-weight: 700;
   pointer-events: none;
   transition: color 0.3s ease-in-out;
   }
}

.columns-image {
   @include adaptiveValue("padding-top",58 , 5);
   @include adaptiveValue("padding-bottom",60 , 20);
   @include adaptiveValue("gap", 30, 15);
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      @media (max-width:$mobile){
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      }

   &__items {
      overflow: hidden;
      border-radius: 4px;
      background-color: $whiteColor;
      box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 30px 24px -20px rgba(154, 156, 165, 0.10), 0px 80px 80px -50px rgba(154, 156, 165, 0.16);
   
         &:focus {
            outline: rem(2) solid $primaryColor;
            outline-offset: rem(2);

      }
      &:hover{
         .columns-image__content {
            position: relative;
            z-index: 50;
            padding-top: rem(16);
            padding-bottom: rem(24);
            margin-top: rem(-84);
            background-color: $whiteColor;
         }
         .columns-image__btn {
            @include button(rem(172), rem(44), rem(14), 314%);
         
            @media (max-width:$mobile){
               @include adaptiveValue("width", 170, 120); 
               @include adaptiveValue("height", 42, 32);
               @include adaptiveValue("font-size", 14, 12);
           }
         }
      }
   }

   &__image-ibg {
      padding-bottom: percent(345, 390);
      &:not(:last-child) {
         margin-bottom: rem(16);
      }
   }


   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: margin-top 0.3s ease-in-out;

   }

   &__title {
      text-align: center;
      margin-bottom: rem(4);
   }

   &__descr {
      font-size: rem(14);
      line-height: math.div(21 , 14);
      font-weight: 400;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 24, 16);
      }
   }

   &__btn {
      display: none;
   }
}

